.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-logo.travail {
  animation: App-logo-rotate infinite 1s linear;
}

.Work_button {
  margin: 30px;
}

.Work_button button.repos {
  background-color: rgb(30, 220, 248);
  box-shadow: 5px 5px 5px rgb(18, 156, 177);
}
.Work_button button {
  background-color: purple;
  height: 50px;
  width: 100px;
  color : white;
  border: none;
  border-radius : 3px;
  box-shadow: 5px 5px 5px rgb(83, 1, 83);
}

.App-header {
  background-color: pink;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-logo-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(1080deg); }
}

